.form-control{
    margin-top:20px;
   
     height:35px; 
     
}

.h1{
    justify-content:center;
    align-items:center;
    display:flex;
    margin-top: 100px;
}

.container-md{
    width:500px;
    margin-top: 35px;
    height:300px;
    
}

.input-group-text{
    height:35px;
    margin-top:20px;
    position:relative;
}

/* .btn btn-primary{
    position:absolute;
    top: 50px;
} */

/* .d-grid gap-2 col-12 mx-auto{
    position:absolute;
    top: 50px;
} */

/* .link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover{
    margin-top: 30px;
} */

.account{
    margin-top: 50px;
    justify-content: center;
    align-items: center;
  
    display:flex;
}

.navbar-text{
    font-size:20px;
    padding:0;
    background: linear-gradient(120deg, green,yellow);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* text-decoration:linear-gradient(red,yellow); */
}

/* .navbar bg-body-tertiary{
    background-color:blue;
} */
/* 
.navbar bg-body-tertiary{
    display:flex;
 justify-content: right;
} */

.line{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

#head{
    background: linear-gradient(90deg,indigo,pink,teal);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left: 10px;
}

.mainhead{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
/* 
.input-group mb-3{
    width:100px;
} */